In [9]:
import pandas as pd
train_df = pd.read_csv("csvtest.csv", sep = '\t')

In [10]:
train_df

   Unnamed: 0  name  school  country  money  yeah  what
0           1    18     798      798    798   798    79
1           2   798    7987       97    897    96    96
2           3    69      69       79     79    79     7
3           4    96      96      969     78    78     8
4           5    97      97       97     97     8    78
5           6     9     787       87    979    78     8
6           7    97      97       87     87   878     8